@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 20px auto; /* Center the container horizontally */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recharge-info {
    margin-bottom: 20px;
}

.confirm-link {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #4caf50;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.confirm-link:hover {
    background-color: #45a049;
}
